* {
    padding: 0;
    margin: 0;
    font-family: 'jost';
}

.container {
    background-color: #1784a88e;
    padding-bottom: 80px;
    margin-bottom: 100px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

header {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, #00536f, #0098b08d);
}

nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0px;
    border-bottom: 1.5px solid #0098b0cb;
}

.logo {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    color: black;
    gap: 5px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 16px;
    transition: .3s;
}

.active {
    color: #00536f;
}

nav .fa-circle-user {
    align-self: center;
    color: #ddd;
    font-size: 25px;
}

/* ________________________________________________________________________________________ */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 130px;
    flex-wrap: wrap;
}

.content h1 {
    font-size: 50px;
    color: #fff;
}

.content p {
    color: #013345;
    font-size: 20px;
    font-weight: 500;
    margin-top: -10px;
    margin-bottom: 30px;
}

.content .search {
    background-color: #fff;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    gap: 40px;
    width: 50%;
}

.search .block-search {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    width: 100%;
    padding: 0px 10px;
    border: none;
    outline: none;
    font-size: 18px;
}

.search button {
    background-color: #00bfffcd;
    padding: 10px 35px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}


/* ________________________________________________________________________________________ */

.widgets {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: -80px;
}

.widgets .web {
    width: 280px;
    background-color: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    height: 350px;
    box-shadow: 0 0 10px -5px #111;
    flex-grow: 1;
    transition: .3s;
}

.web .head {
    display: flex;
    justify-content: space-between;
}

.head h2 {
    font-weight: 500;
}

.head span {
    padding: 2px 5px;
    height: fit-content;
    border-radius: 5px;
    background-color: #04c0ff;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    align-self: center;
}

.web p {
    color: #777;
}

.widgets .web img {
    width: 300px;
    align-self: center;
}

.finance {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(to top, rgba(13, 133, 163, 0.679) 70%, #ffffff82);
    padding: 20px;
    height: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image {
    background-image: url(../Images/Photo2.jpg);
    background-size: cover;
    overflow: hidden;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 0 10px -5px #111;
    flex-grow: 1;
    width: 600px;
    transition: .3s;
}

.image:hover,
.web:hover {
    scale: 1.02;
}

.div {
    margin-top: -40px;
}

.finance .head {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.finance .head span {
    background-color: #7b64ff;
}

.finance .cont {
    width: 90%;
    font-size: 20px;
    color: #ddd;
}

.cont button {
    background-color: #00bfffcd;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    scale: 1.05;
    letter-spacing: .5px;
}

a:hover {
    color: #00536f;
}

.share {
    display: flex;
    gap: 20px;
}

.share p {
    color: #ddd;
    font-size: 18px;
    text-transform: capitalize;
}

.share i {
    align-self: center;
    font-size: 16px;
    background-color: #00bfffcd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1190px) {
    .web {
        width: 200px;
    }

    .image {
        width: 400px;
    }
}

@media (max-width:796px) {
    .search input::placeholder {
        color: transparent;
    }
}

@media (max-width:658px) {
    .logo {
        align-self: center;
    }

    nav,
    nav ul {
        flex-direction: column;
        gap: 5px
    }
}

@media (max-width:562px) {
    .content h1 {
        font-size: 25px;
    }

    .content p {
        margin-top: 5px;
        font-size: 14px;
    }

    .widgets .web {
        width: 100px;
    }

    .widgets .web img {
        width: 200px;
    }

    #btn-search {
        font-size: 12px;
        padding: 20px 15px;
    }
}

/* ________________________________________________________________________________________ */

#nav-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

#nav-content h1 {
    font-size: 60px;
    text-align: center;
}

#nav-content .slides {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    font-size: 20px;
    color: #444;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#nav-content .slides p {
    align-self: center;
    cursor: pointer;
    transition: .3s;
    position: relative;
}

#nav-content .slides p:hover {
    color: #35979e;
}


#nav-content .slides p:first-child {
    color: #35979e;

}

#nav-content .slides p:first-child::after {
    opacity: 1;
}

#nav-content .slides p::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 120%;
    background-color: #00536f;
    bottom: -16px;
    left: -5px;
    transition: .3s;
    opacity: 0;
}

#nav-content .slides p:hover::after {
    opacity: 1;
}

hr {
    margin-top: -5px;
    border: 1px solid #01334525;
}

.slides-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    margin: 10px;
}

.slides-content .slide {
    background-color: white;
    box-shadow: 0 0 100px -50px black;
    border-radius: 20px;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    max-width: 25%;
    height: 350px;
    transition: .3s;
}

.slide:hover {
    scale: 1.02;
}

.slides-content .slide p {
    font-size: 25px;
    color: #333;
}

.slide .head {
    display: flex;
    justify-content: space-between;
}

.slide .head h2 {
    font-size: 30px;
    font-weight: 600;
}

.slide .head span {
    font-size: 18px;
    /* font-weight: 600; */
}

.slides-content .slide img {
    width: 250px;
    align-self: center;
}

@media (max-width:900px) {
    .slides-content .slide {
        width: 300px;
        max-width: none;
        flex-grow: 2;
        box-shadow: 0 0 15px -5px black;
    }
}

@media (max-width:750px) {
    .slides p::after {
        display: none;
    }

    .slides {
        flex-direction: column;
    }
}

/* ________________________________________________________________________________________ */

.back {
    background-image: url(../Images/Photo5.jpg);
    background-size: cover;
    margin-bottom: 100px;
}

#how-it-work {
    width: calc(100% - 240px);
    height: auto;
    padding: 50px 120px;
    background-image: linear-gradient(to top, #005e56d2, #25847cae);
    padding-bottom: 150px;
}

#how-it-work h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    color: #fff;
    margin-bottom: 20px;
}

.tip {
    display: flex;

    margin-top: 20px;
    margin-bottom: 100px;
}

.tip .how-cont {
    color: #fff;
}

.how-cont h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.how-cont p {
    font-size: 25px;
}

.tip i {
    align-self: center;
    font-size: 30px;
    padding: 30px;
    color: #fff;
    border: 4px solid #fff;
    border-radius: 50%;
    display: flex;
}

.icon {
    background-color: #00a8a8c6;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    padding: 10px;
    margin-right: 30px;
}

.what-learn {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.what-learn p {
    color: #ddd;
    font-size: 25px;
    align-self: center;
}

.what-learn button {
    padding: 10px 20px;
    background: transparent;
    border: 2px solid #27f6f6c6;
    border-radius: 50px;
    font-size: 20px;
    color: #27f6f6c6;
    align-self: center;
    transition: .3s;
    cursor: pointer;
    font-weight: 600;
}

@media (max-width:1100px) {
    #how-it-work {
        width: calc(100% - 60px);
        padding: 50px 30px;
        background-image: linear-gradient(to top, #005e56d2, #25847cae);
        padding-bottom: 150px;
    }
}

@media (max-width:800px) {
    #how-it-work {
        width: 100%;
        padding: 0px 0px;
        background-image: linear-gradient(to top, #005e56d2, #25847cae);
        padding-bottom: 150px;
    }

    #how-it-work h1 {
        font-size: 35px;
        padding-top: 40px;
    }

    .tip {
        flex-direction: column;
        margin: 20px;
        margin-bottom: 50px;
    }

    .tip h2 {
        font-size: 25px;
    }

    .tip p {
        font-size: 16px;
    }

    .tip .icon {
        align-self: center;
        height: 50px;
        width: 50px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tip .icon i {
        padding: 15px;
        font-size: 20px;
        border-width: 2px;
    }

    .how-cont {
        width: 90%;
        margin: auto;
    }

    .what-learn {
        flex-direction: column;
    }



}

/* ________________________________________________________________________________________ */

#Faqs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav-Faqs {
    width: calc(40% - 20px);
    padding: 0px 10px;
}

.nav-Faqs img {
    width: 110%;
}


.nav-Faqs h1 {
    font-size: 40px;
}


.main-Faqs {
    width: 600px;
    margin-right: 100px;
    align-self: center;
}

.main-Faqs .slider {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 50px;
    color: #333;
    margin-bottom: 15px;
    transition: .3s;
    cursor: pointer;
}

.main-Faqs .slider:hover {
    background-color: #00a8a841;
    color: #006080;
}

.main-Faqs .slider p {
    font-weight: 500;
}

.main-Faqs .one {
    background-color: #00a8a841;
    color: #006080;
}

.main-Faqs .slider i {
    align-self: center;
}

.main-Faqs .text {
    display: none;
    padding: 10px 20px;
    font-size: 20px;
    color: #006080;
    font-weight: 380;
    letter-spacing: .5px;
    line-height: 2;
}

.main-Faqs .txt-active {
    display: block;
}

.main {
    align-self: center;
}



@media (max-width:1166px) {
    .main-Faqs {
        width: 90%;
        margin: auto;
    }

    .nav-Faqs img {
        width: 600px;
        align-self: center;
    }

    .nav-Faqs h1 {
        align-self: center;
    }

    .nav-Faqs {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:600px) {
    .main-Faqs {
        width: 90%;
        margin: auto;
    }

    .nav-Faqs img {
        width: 300px;
        align-self: center;
    }

    .nav-Faqs h1 {
        align-self: center;
    }

    .main-Faqs .slider {
        font-size: 16px;
    }

    .main-Faqs .text {
        font-size: 14px;
    }
}

/* ________________________________________________________________________________________ */


#location {
    background-color: #0166881a;
    padding: 80px 80px;
}

#location .get {
    text-align: center;
    font-size: 60px;
    margin-bottom: 50px;
}

.loc-content {
    display: flex;
    gap: 60px;
    /* flex-wrap: wrap; */
}

.loc-content iframe {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 0 15px -5px black;
}

.contact {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    gap: 40px;
}

.contact div {
    max-width: 300px;
    flex-grow: 1;
    margin-bottom: 30px;
}

.contact div h1 {
    font-size: 30px;
    font-weight: 450;
    margin-bottom: 10px;
}

.contact div p {
    font-size: 22px;
    color: #333;
}

.contact div hr {
    margin: 20px 10px;
}

.contact div span {
    color: #00a8a89f;
    font-size: 18px;
    margin-left: 10px;
}

@media (max-width:520px) {
    #location .get {
        font-size: 40px;
    }

    .loc-content iframe {
        width: 250px;
        height: 150px;
        margin: auto;
    }

    .loc-content {
        flex-wrap: wrap;
    }


    #location {
        padding: 40px 30px;
    }

    .contact {
        flex-wrap: wrap;
        text-align: center;
    }

    .contact div h1 {
        font-size: 20px;
    }

    .contact div p {
        font-size: 15px;
    }

    .contact div span {
        font-size: 12px;
    }
}

@media (min-width:521px) and (max-width:1130px) {
    .loc-content {
        flex-wrap: wrap;
    }

    .loc-content iframe {
        width: 800px;
        height: 300px;
        margin: auto;
    }

    .contact {
        width: 100%;
        flex-wrap: wrap;
    }

    .contact div {
        margin: auto;
        text-align: center;
    }


    .contact div h1 {
        font-size: 35px;
    }

    .contact div p {
        font-size: 30px;
    }

    .contact div span {
        font-size: 20px;
    }
}

/* ________________________________________________________________________________________ */

footer {
    padding: 100px 60px 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 10px solid #41b0ae;
    gap: 20px;
    position: relative;
}

footer .logo {
    font-size: 40px;
    flex-grow: 1;
}

footer .resourses {
    flex-grow: 1;
}

footer .resourses p,
.info p {
    font-size: 25px;
    font-weight: 600;
    color: #00536f;
    margin-bottom: 10px;
}


footer .resourses ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer .resourses ul a,
.info span {
    text-decoration: none;
    color: #0092c3;
    font-size: 18px;
    transition: .3s;
}

footer .resourses ul a:hover {
    text-decoration: underline;
}

.info,
.lang {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.lang button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #72b5cb;
    color: #fff;
    display: flex;
    gap: 10px;
    transition: .3s;
    cursor: pointer;
    width: fit-content;
    margin-bottom: 50px;
}

.lang i {
    align-self: self-end;
}

.lang {
    justify-content: space-between;
    width: 280px;
}

.lang p {
    color: #555;
    font-size: 18px;
    margin-bottom: 20px;
}

.lang span {
    color: #006080;
}

footer::after {
    content: "";
    position: absolute;
    border: 100px solid #41b0ae;
    border-left-color: transparent;
    border-top-color: transparent;
    right: 0;
    bottom: 0;
}